html{
    background-color:  #fcf0de;
    font-family: "Times New Roman", Times, serif;
}

/*menu lateral (principal)*/
#menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #556b2f;

    .sidebar {
        width: 175px;
        float: left;
    }
}

#menu ul li{
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #3f541a;
    text-align: left;
    list-style: none;

}

#menu a:link {
    background:#556b2f;
    color:#c4b8b1;
    font-weight: bold;
    text-decoration: none;
    padding: 8px;
    display: block;
}

#menu a:hover {
	background: #556b2f;
	color: #9b725b;
}

/*pesquisar (template da caixa de pesquisa)*/
#divBusca{
    background-color:#2F4F4F;
    border:solid 1px;
    border-radius:15px;
    width:300px;
}
  
#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
}

/*contatos(about)*/
#fotointegrante{
    border-radius: 50px;
    float: left;
    padding: 5px;
    margin: 0px 10px 10px 0;
    max-width: 186px;
}