{% extends 'maintemplate' %}

<!--Titulo da página-->
{% block title %}
MedPlant - Cadastro
{% endblock %}

<!--Bloco do header-->
{% block header %}
Login
{% endblock %}

<!--Bloco de conteúdo-->
{% block content %}
<!--Formulário para cadastro de nova planta no Banco de dados-->
<div id="cadastrarplanta">
    <!--Chamado da rota cadastrar-->
    <form action="cadastrar">
        <!--inputs necessários para preenchimento de informações de cadastro-->
        <p>
            Nome da Planta: <input type="text" name="plantname">
        </p> 
    
        <p>
            Nome científico: <input type="text" name="cientifico">
        </p>

        <p>
            Informações nutricionais: <iput type="text" name="infonutri">
        </p>
    
        <p>
            Descrição: <input type="text" name="descricao">
        </p>

        <p>
            Indicações: <input type="text" name="indicacoes">
        </p>

        <p>
            Receitas: <input type="text" name="receitas">
        </p>

        <button>Cadastrar</button>
    </form>
</div>
{% endblock %}