<!--Template das páginas html-->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!--titulo da página-->
    <title>{% block title %}{% endblock %}</title>
    <!--link que liga o css ao html-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mycss.css') }}">
    <meta charset=UTF-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--nome dos autores-->
    <meta name="author" content="Jeiny Katyares Xavier Morais, Leslie Emanuele Greuel e Maria Eduarda Zuttion" >
    <!--Palavras chaves do site-->
    <meta name="keywords" content="Plantas Medicinais, Herbologia, Herbalismo">
    <!--Descrição do site que aparece no menu de pesquisas do google-->
    <meta name="description" content="Medplant. Site com a proposta de estimular a reconexão das pessoas com a natureza, destacando o uso de plantas na culinária, resgatando o valor das práticas naturais, e oferecendo um recurso valioso para aqueles que buscam alternativas para melhorar sua saúde e bem-estar.">
</head>
<body>
    <h1>MedPlant</h1>
    <!--menu lateral-->
    <div id="menu">
        <ul>
            <!--Link da página inicial-->
            <li><a href="{{url_for("home") }}">Página Inicial</a></li>
            <!--Link da página sobre nós-->
            <li><a href="{{url_for("about") }}">Sobre Nós</a></li>
            <!--Link da página de pesquisa-->
            <li><a href="{{url_for("search") }}">Pesquisar</a></li>
            <!--Link da página de cadastro-->
            <li><a href="{{url_for("cadastro") }}"">Cadastrar planta</a></li>
        </ul>
    </div>

    <!--Blocos de conteúdo-->
    <section class="content">
        <header> {% block header %}{% endblock %} </header>

        {% block content %}{% endblock %}
    </section>

</body>
</html>